.gpt3__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  & div {
    max-width: 150px;
    min-width: 120px;
    cursor: pointer;
  }
}