.gpt3__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 1rem;
  font-family: var(--font-family);

  &-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;

    & h1 {
      font-weight: 800;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -.04rem;
      color: #fff;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 38px;
        height: 3px;
        top: -.6rem;
        left: 0;
        background: var(--gradient-bar);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      }
    }
  }

  &-text {
    max-width: 390px;
    display: flex;
    flex: 2;
    
    & p {
      font-size: 14px;
      line-height: 24px;
      color: var(--color-text);
    }
  }
}

@media screen and (max-width: 550px) {
  .gpt3__features-container__feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &-title {
      margin: 0;
      text-align: center;
    }

    &-title h1 {
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      
      &::before {
        left: 50%;
        transform: translate(-50%);
      }
    }

    &-text p {
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }
    
  }
}