.gpt3__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  font-family: var(--font-family);
}
.gpt3__features-heading {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  max-width: 425px;
}
.gpt3__features-heading h1 {
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
}
.gpt3__features-heading p {
  font-size: 16px;
  line-height: 30px;
  color: #FF8A71;
  margin-top: 2rem;
}
.gpt3__features-container__feature {
  gap: 10px;
}

@media screen and (width <= 650px) {
  .gpt3__features-heading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gpt3__features-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}
@media screen and (width <= 850px) {
  .gpt3__features-heading p {
    margin-top: 1rem;
  }
}