.gpt3__blog {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  
  &-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;

    & h1 {
      font-weight: 800;
      font-size: 62px;
      line-height: 75px;
      letter-spacing: -.04em;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    &_groupA {
      flex: 0.75;
    }

    &_groupB {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

@media screen and (width<990px) {
  .gpt3__blog {

    &-container {
      flex-direction: column-reverse;

      &_groupA &_article {
        width: 48%;
      }

      &_groupA &_article-image {
        height: 250px;
      }
    }
  }
}

@media screen and (width<700px) {
  .gpt3__blog {

    &-container {

      &_groupB {
        grid-template-columns: repeat(1, 1fr);
      }

      &_groupA &_article {
        width: 100%;
      }
    }

    &-heading {

      & h1 {
        font-size: 46px;
        line-height: 52px;        
      }
    }
  }
}

@media screen and (width<550px) {
  .gpt3__blog {

    text-align: center;

    &-heading {

      & h1 {
        font-size: 34px;
        line-height: 42px;
        text-align: center;     
      }
    }
  }
}