.gpt3__header {
  display: flex;
  flex-direction: row;
  
  &-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    

    & h1 {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 62px;
      line-height: 75px;
      letter-spacing: -0.04em;
    }

    & p {
      font-family: var(--font-family);
      font-style: 20px;
      line-height: 27px;
      color: var(--color-text);
      margin-top: 1.5rem;
    }

    &__input {
      width: 100%;
      margin: 2rem 0 1rem;
      
      display: flex;

      & input {
        flex: 2;
        background: var(--color-footer);
        color: #3D6184;
        border: 1px solid var(--color-footer);
        border-radius: 0 5px 5px 0;
        font-family: var(--font-family);
        font-size: 20px;
        line-height: 27px;
        width: 100%;
        min-height: 50px;
        padding: 0 1rem;
        outline: none;
        color: #fff;
      }

      & button {
        flex: .6;
        width: 100%;
        min-height: 50px;
        font-weight: 800;
        background: #FF4820;
        border-radius: 0 5px 5px 0;
        font-family: var(--font-family);
        font-size: 20px;
        line-height: 27px;
        color: #fff;
        cursor: pointer;
        outline: none;
        padding: 0 1rem;
        border: none;
      }
    }

    &__people {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      
      & img {
        width: 180px;
        height: 40px;
      }

      & p {
        margin: 0 0 0 1rem;
        font-family: var(--font-family);
        font-style: 12px;
        line-height: 38px;
        color: #fff;
        text-align: center;
      }
    }
  }

  &-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1050px) {
  .gpt3__header {
    flex-direction: column;

    &-content {
      
    }
  }
}

@media screen and (max-width: 650px) {
  .gpt3__header {

    & h1 {
      font-size: 48px;
      line-height: 60px;
    }

    & p {
      font-size: 16px;
      line-height: 24px;
    }

    &-content {

      &__people {
        flex-direction: column;
        gap: 10px;

        & p {
          margin: 0;
        }
      }

      &__input {

        & input, & button {
          font-size: 16px;
          line-height: 24px;
        }

      }
    }
  }
}

@media screen and (max-width: 550px) {
  .gpt3__header {

    display: flex;
    align-items: center;
    justify-content: center;

    & h1 {
      font-size: 36px;
      line-height: 48px;
    }

    & p {
      font-size: 14px;
      line-height: 24px;
    }

    &-content {

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &__input {

        & input, & button {
          font-size: 12px;
          line-height: 16px;
          text-align: center;
        }

      }
    }

    &-image {
      display: none;
    }
  }
}